/* Regular Bariol */
@font-face {
    font-family: "Bariol";
    src: url("../fonts/Bariol_Regular.otf") format('opentype');
    font-weight: 400;
}

/* Bold Bariol */
@font-face {
    font-family: "Bariol";
    src: url("../fonts/Bariol_Bold.otf") format('opentype');
    font-weight: 700;
}

/* Regular Italic Bariol */
@font-face {
    font-family: "Bariol";
    src: url("../fonts/Bariol_Regular_Italic.otf") format('opentype');
    font-weight: 400;
    font-style: italic;
}

/* Light Bariol */
@font-face {
    font-family: "Bariol";
    src: url("../fonts/Bariol_Light.otf") format('opentype');
    font-weight: 300;

}

/* Thin Bariol */
@font-face {
    font-family: "Bariol";
    src: url("../fonts/Bariol_Thin.otf") format('opentype');
    font-weight: 100;
}

/* CSS-reset */
* {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

body {
    font-family: "Bariol", sans-serif;
}



footer {
display: none;
}
