/* CSS-reset */
* {
    margin: 0;
    padding: 0;
}

/* Geen punten bij lijst-items */
ul {
    list-style: none;
}

body {
    font-family: 'Bariol', sans-serif;
    display: grid;
    /* Header, main en nav */
    grid-template-rows: 1fr auto 1fr;
    /* Het scherm wordt altijd gevuld (viewheight) */
    height: 100vh;

    /* Grote Ipads en Tablets */
    @media (min-width: 700px) {
        grid-template-rows: auto 1fr auto;
    }
}

/* Header met mindmap categorie */
header.mindmap {
    grid-row: 1;
    /* Class mindmap in een Grid */
    display: grid;
    /* 3 kolommen, auto voor de h1 van de mindmap zodat hij niet meer ruimte neemt voor de inhoud */
    grid-template-columns: 1fr auto 1fr;
    /* Elementen verticaal centraal */
    align-items: center;
    /* Ruimte rondom de inhoud in de header */
    padding: 1rem;
    background-color: #172F3B;
}

/* Titel in de header */
header h1 {
    /* H1 komt in de middelste kolom van de grid */
    grid-column: 2;
    /* Alleen h1 horizontaal centraal in de middelste kolom */
    justify-self: center;
    color: #FFFFFF;
    font-size: 1.8rem;
}

/* Filter-icoon aan de rechterkant van de header */
header .filter-icon {
    /* Filter-icoon in de rechter kolom van de grid */
    grid-column: 3;
    /* Schuift filter-icoon naar rechts */
    justify-self: end;
}

/* Grid met 2 kolommen voor de foto's in de container */
.photo-container {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    /* Ruimte rondom de foto's maar binnen de container */
    padding: 10px;

    /* Kleine schermen */
    @media (max-width: 350px) {
        grid-template-columns: 1fr;
    }     

    /* Kleine Ipads en Tablets */
    @media (min-width: 550px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* Grote Ipads en Tablets */
    @media (min-width: 700px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* Foto's in de grid laten passen en elke foto vierkant maken */
.photo-container img {
    /* Foto's even breed als de grid van photo-container */
    width: 100%;
    /* Maakt foto vierkant, hoogte = breedte */
    aspect-ratio: 1 / 1;
    /* Afgeronde hoeken */
    border-radius: 10%;
    /* Foto wordt bijgesneden zonder vervorming */
    object-fit: cover;

    /* Kleine schermen */
    @media (max-width: 350px) {
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 10%;
    }

    /* Kleine Ipads en Tablets */
    @media (min-width: 550px) {
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 12%;
    }

    /* Grote Ipads en Tablets */
    @media (min-width: 700px) {
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 12%;
    }
}

/* Nav onderaan vastzetten met grid en position: fixed */
.nav-bar {
    /* Zit vast, de nav is altijd te zien */
    position: fixed;
    /* Onderaan de pagina */
    bottom: 0;
    /* Nav altijd over de hele breedte */
    width: 100%;
    grid-row: 3;
    background-color: #172F3B;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    padding: 10px;
    /* Blijft hierdoor voorop komen */
    z-index: 1000;
}

.nav-bar ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* Nav-iconen ook altijd over de hele breedte */
    width: 100%;
    padding: 15px;
}

.nav-bar li {
    display: grid;
    justify-items: center;
    align-items: center;
}

.nav-bar li a {
    display: grid;
    justify-items: center;
    align-items: center;
}

footer,
.footer-list {
    display: none;
}